@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&display=swap');

.header {
	height: 100vh;
	width: 100%;
	background-image: url(../src/asset/headerBg.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
}

.header .logo {
	position: absolute;
	right: 5rem;
	top: 1rem;
	width: 70px;
	height: auto;
}

.header .logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.header-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.header .header-content h1 {
	font-family: 'Merienda One', cursive;
	font-size: 6rem;
	text-align: right;
	padding: 0 5rem;
	line-height: 0.9;
	color: #125f96;
}

.header .header-content h1 span {
	font-family: 'Aladin', cursive;
	color: #0a3d62;
}

.header .header-content p {
	margin: 1rem 0;
	padding: 0 5rem;
	font-size: 1.5rem;
	color: #334;
}

.header .header-content button {
	margin: 1rem 5rem;
	padding: 15px 40px;
	font-size: 20px;
	border: none;
	border-radius: 30px;
	outline: none;
	background: #125f96;
	color: #fff;
	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

.header .header-content button:hover {
	background: #0a3d62;
}

.header .header-content button:active {
	transform: scale(0.9);
}
